.pageTitle {
  font-size: 3rem;
  font-weight: var(--pn-font-weight-600);
  color: var(--mantine-color-gray-3);
}

.pateTitleText {
  color: var(--mantine-color-dark-2);
}

.pageTitleLink {
  color: var(--mantine-color-orange-6);
}

.question {
  font-size: 1.15rem;
  color: var(--mantine-color-gray-4);
  font-family: var(--pn-font-rubik);
  line-height: 1.65rem !important;
  border-bottom: 1px solid var(--mantine-color-orange-5);
}

.answer {
  color: var(--mantine-color-dark-2);
}